@{
    ViewData["Title"] = "POST request";
}
    <form action="~/Home/Area" method="post">
        <label>Height:</label>
        <input type="number" name="height" />
        <label>Altitude:</label>
        <input type="number" name="altitude"/>
        <input type="submit" value="Send" />
    </form>
